/.idea
/target
/webservice-conversions/.idea
/webservice-conversions/target
/webservice-qa/.idea
/webservice-qa/target
/webservice-cloud/.idea
/webservice-cloud/target
/local.properties
/xsl
/queries
/xmlfile
/tmp
/schema
/bin/
/nb-configuration.xml
/nbactions.xml
/testing.log
**/*.iml