<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

  <context:annotation-config />

  <context:component-scan base-package="eionet.xmlconv" />

  <bean id="basexServer" class="org.basex.BaseXServer">
    <constructor-arg>
      <list>

      </list>
    </constructor-arg>
  </bean>

  <bean class="org.modelmapper.ModelMapper" />

  <bean id="cacheManager" class="eionet.xmlconv.qa.cache.CacheManagerUtil" init-method="initializeCacheManager" destroy-method="destroyCacheManager"/>

  <bean id="appConfigDefinitionProvider" class="eionet.propertyplaceholderresolver.ConfigurationDefinitionProviderImpl">
    <constructor-arg index="0">
      <array>
        <value>env.properties</value>
      </array>
    </constructor-arg>
  </bean>

  <bean id="configurationPropertyResolver" class="eionet.propertyplaceholderresolver.ConfigurationPropertyResolverImpl">
    <constructor-arg ref="appConfigDefinitionProvider" />
  </bean>

  <bean id="configurationPostProcessor" class="eionet.propertyplaceholderresolver.spring.EionetPlaceholderConfigurer">
    <constructor-arg ref="configurationPropertyResolver" />
  </bean>

</beans>