<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

  <!--<context:annotation-config />-->

  <!--<context:component-scan base-package="eionet.xmlconv" />-->

  <bean id="saxonProcessor" class="net.sf.saxon.s9api.Processor">
    <constructor-arg type="boolean" value="false"/>
  </bean>

  <bean class="org.modelmapper.ModelMapper" />

  <bean id="appConfigDefinitionProvider" class="eionet.propertyplaceholderresolver.ConfigurationDefinitionProviderImpl">
    <constructor-arg index="0">
      <array>
        <value>env.properties</value>
        <value>filesystem.properties</value>
      </array>
    </constructor-arg>
  </bean>

  <bean id="configurationPropertyResolver" primary="false" class="eionet.propertyplaceholderresolver.ConfigurationPropertyResolverImpl">
    <constructor-arg ref="appConfigDefinitionProvider" />
  </bean>

  <bean id="configurationPostProcessor" primary="false" class="eionet.propertyplaceholderresolver.spring.EionetPlaceholderConfigurer">
    <constructor-arg ref="configurationPropertyResolver" />
  </bean>

  <bean id="cacheManager" class="eionet.xmlconv.conversions.cache.CacheManagerUtil" init-method="initializeCacheManager" destroy-method="destroyCacheManager"/>

</beans>