<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/j2ee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Conversion and Quality Assessment Service</display-name>
  <!-- This web.xml file is only used for deployment of war files to external tomcat -->
  <context-param>
    <param-name>edu.yale.its.tp.cas.client.filter.loginUrl</param-name>
    <param-value>https://sso.eionet.europa.eu/login</param-value>
  </context-param>
</web-app>